:root {
              --main-bg-color: #FFFFFF;
              --main-title-color: #2e2f42;
              --main-basic-color-text: #434455;
              --main-bg-team: #f4f4fd;
              --main-color-hover: #4D5AE5;
              --main-color-default:  #404BBF;
              --color-text-footer: #E7E9FC;
              --color-border-card: #E7E9FC;
            }

  header {
    border-bottom: 1px solid var(--color-border-card);
  }          
body {
             font-family: 'Roboto', sans-serif; 
             background-color: var(--main-bg-color);  
             color: var(--main-basic-color-text);  
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
              padding: 0;
              margin: 0;
              list-style-type: none;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
        margin: 0 auto;
        padding: 0 15px;
        width: 1158px;
     
}

         /* NAVIGATION  */

.container-main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
              
              font-family: 'Raleway', sans-serif;
              font-weight: 800;
              font-size: 18px;
              line-height: 1.333;
              letter-spacing: 0.03em;
              text-transform: uppercase;
              color: var(--main-color-hover); 
              text-decoration: none;
              margin-right: 76px;
              
        
              
}
.logo-second {

             color: var(--main-title-color);
             text-decoration: none; 
}

.menu-navigation {
        display: flex;
        gap: 40px;
}

.studio,
.portfolio,
.contacts {
              font-weight: 500;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: var(--main-title-color); 
              text-decoration: none;
              padding-top: 24px;
              padding-bottom: 24px; 
              display: block;

   
}

.studio:hover,
.studio:focus {
                     color: var(--main-color-hover);
                     
 }
 .portfolio:hover,
 .portfolio:focus {
  color: var(--main-color-hover);
 }
 .contacts:hover,
 .contacts:focus
 {
  color: var(--main-color-hover);
 }
 .adress-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
 }


 .adress-mail,
 .adress-tel {
             color: var(--main-basic-color-text);
             font-style: normal;
             font-size: 16px;
             line-height: 1.5;
             letter-spacing: 0.02em;
             text-decoration: none;
 }
 .adress-mail:hover,
 .adress-tel:hover,
 .adress-mail:focus,
 .adress-tel:focus {
                color: var(--main-color-hover);
               
 }
 /* SECTION HERO */
 
.hero {
             
             background: var(--main-title-color);
             text-align: center; 
             padding-top: 188px;
             padding-bottom: 120px;
             
                  
}
.header-hero {
           
           font-size: 56px;
           line-height: 1.071;
           letter-spacing: 0.02em;
           color: var(--main-bg-color);
           max-width: 496px;
           
           margin-left: auto;
           margin-right: auto;
           text-align: center;
           margin-bottom: 48px;
         
}
.btn-service {
              
              font-family: 'Roboto', sans-serif;
              background-color: var(--main-color-hover);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
              border-radius: 4px;  
              font-weight: 500;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.04em;
              color: var(--main-bg-color);
              cursor: pointer;
              border: none;      
              padding: 16px 32px;
             
 }          
         
 
.btn-service:hover,
.btn-service:focus {
             background-color: var(--main-color-default); 
}

/* SECTION Feature */
.feature {
   padding-top: 120px;
   
}

.feature-list {
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
 
}
.feature-list-title {
  
  margin-bottom: 8px;                  
}
.container-list-item {
  
  flex-basis: calc((100%  - 3 * 24px) / 4);
  

}
.list-text {
              
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: var(--main-basic-color-text);
}

/* SECTION WORKS */
.works {
   padding-top: 120px;
   padding-bottom: 120px;
}

.container-works-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
 
  
}

.header-works {
                           
              font-size: 36px;
              line-height: 1.111;
              letter-spacing: 0.02em;
              text-transform: capitalize;
              color: var(--main-title-color);
              text-align: center; 
              margin-bottom: 72px;          
 
}      
/* SECTION TEAM */

.team {
       padding-bottom: 120px;
       padding-top: 120px;
       background-color: var(--main-bg-team);
  
}
.header-team {
              
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 72px;
  
}
.list-team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}


.item-team {
              
              background-color: var(--main-bg-color);
              text-align: center;
              box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
              border-radius: 0px 0px 4px 4px;
              
}
.team-names {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--main-title-color);
            margin-bottom: 8px;
           
}
.team-profesion {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--main-basic-color-text);
            
  
}
.name-prof-team {
     padding-top: 32px;
     padding-bottom: 32px;
}

          /* FOOTER  */
          .main-footer {
            background-color: var(--main-title-color);
            padding-top: 100px;
            padding-bottom: 100px; 
 }
          .container-footer {
  
          max-width: 264px;
}

.text-footer{
                            
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: var(--color-text-footer);
              margin-top: 16px;
              max-width: 264px;

}
.logo-second-footer {
              
              font-size: 18px;
              line-height: 1.166;
              letter-spacing: 0.03em;
              color: var(--main-bg-team);
}


        /*   PORTFOLIO   */

  .section-portfolio {

          padding-top: 96px;
          padding-bottom: 120px;
  }

 .container-btn-filters {
             display: flex;
             justify-content: center;
                
             margin-bottom: 72px;
             flex-direction: row;
             align-items: flex-start;
             gap: 24px;
        }
.btn-filters {
          background: var(--main-bg-team);
          border-radius: 4px;
          border: 1px solid var(--color-text-footer);
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.04em;
          color: var(--main-color-hover);
          cursor: pointer;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 12px 24px;
                  
          
}
.btn-filters:hover,
.btn-filters:focus {
         background-color: var(--main-color-default);
         color: var(--main-bg-color);
}

  .portfolio-list {
   display: flex;
  flex-wrap: wrap;
  gap: 24px;
  
   
}
 
  .container-portfolio-item {
          
          flex-basis: calc((100% - 2 * 24px) / 3);
         
 }
.header-portfolio-cards  {
          
          font-weight: 500;
          font-size: 20px;
          line-height: 1.2;
          letter-spacing: 0.02em;
          color: var(--main-title-color);
          margin-bottom: 8px;

}
.card-content {
                                                 
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: var(--main-basic-color-text);
          
}
.content-text {
  border-bottom: 1px solid var(--color-border-card);
  border-left: 1px solid var(--color-border-card);
  border-right: 1px solid var(--color-border-card);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

